/* main {
  min-height: 90vh;
} */
body {
  height: 100vh;
}

/* h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
} */

.section-header .section-title {
  font-weight: bold;
  color: #4e4e4e;
  position: relative;
  margin-bottom: 2rem;
}
.section-header .section-title:after {
  content: '';
  content: '';
  display: block;
  height: 3px;
  width: 70px;
  background: #248eff;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}

.section-header .section-subtitle {
  max-width: 700px;
  color: #6f6f6f;
  font-size: 0.9rem;
}

/* Main */

#home {
  height: calc(100vh - 300px);
  position: relative;
  /* margin-top: 56px; */
}

/* @media (min-width: 768px) {
  margin-top: 115px;
}
> div {
  height: 100%;
} */

.home-content {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.home-content:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #6b696a;
  opacity: 0.7;
}

.intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  z-index: 2;
}

.intro .title {
  font-weight: bold;
}

.intro .sub-title {
  font-weight: normal;
  max-width: 700px;
  margin: 0 auto;
  letter-spacing: 1px;
  font-size: 1rem;
}

/* About */
.aboutImage {
  width: 100%;
  max-height: cover;
  overflow: hidden;
}

.aboutImage img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.about-description {
  font-size: 0.9rem;
  color: #6f6f6f;
}

/* Services */
.services {
  background-color: #f6f8fb;
}

/* Facts */

.facts-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.facts-container:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #636568;
  opacity: 0.8;
}

.facts-icon {
  font-size: 2.5rem;
  color: #6dd1d5;
}
.facts-counter {
  font-size: 2.5rem;
  font-weight: 700;
}

/* Footer */

footer {
  background: #292f35;
}
footer h6 {
  color: white;
  font-size: 1rem;
}

.footer-title {
  position: relative;
  margin-bottom: 2rem;
}
.footer-title:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 2px;
  background: #248eff;
  top: 30px;
}
.bottom-footer {
  background-color: #181d21;
  color: #6c757d;
}

@media only screen and (max-device-width: 480px) {
  iframe {
    margin: 5px;
    width: 350px;
    height: 300px;
  }
}
